#table-horizontal {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 40vw;
  margin-top: 1%;
  margin-left: 1%;
}

.tabelas {
  display: flex;
  flex-direction: row;
}

.horizontal {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48%;
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);
}

.horizontal2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 48%;
  margin-top: 3.5%;
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);
}

table {
  border-collapse: collapse;
}

thead tr td {
  font-weight: bold;
}

.title-card {
  margin: 1%;
  font-size: 1.2em;
  font-weight: bold;
}

.table-vendas {
  height: 100%;
  width: 100%;
}

.header-table {
  border-collapse: collapse;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  border-top: none;
  border-right: none;
}

.header-tableGerente {
  border-collapse: collapse;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  border-top: none;
  border-left: none;
}

.header-tablePositiva {
  border-collapse: collapse;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  border-top: none;
  border-right: none;
}

.header-tableLast {
  border-collapse: collapse;
  border-style: solid;
  border-color: rgb(207, 207, 207);
  border-width: 1px;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.graphic {
  width: 98%;
  height: 75%;
  margin: auto;
  overflow: auto;
}

/*------------------------------------------*/

@media (max-width: 724px) {
  #table-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 80vw;
    margin-top: 2%;
    margin-left: 1%;
  }

  .tabelas {
    display: flex;
    flex-direction: column;
  }

  .horizontal {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 45%;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .horizontal2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 45%;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  table {
    border-collapse: collapse;
  }

  thead tr td {
    font-weight: bold;
  }

  .title-card {
    margin: 1%;
    font-size: 1.2em;
    font-weight: bold;
  }

  .table-vendas {
    height: 100%;
    width: 100%;
  }

  .graphic {
    width: 98%;
    height: 75%;
    margin: auto;
    overflow: auto;
  }
}

@media (min-width: 725px) and (max-width: 900px) {
  #table-horizontal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 80vw;
    margin-top: 2%;
    margin-left: 1%;
  }

  .tabelas {
    display: flex;
    flex-direction: column;
  }

  .horizontal {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 45%;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .horizontal2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 45%;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  table {
    border-collapse: collapse;
  }

  thead tr td {
    font-weight: bold;
  }

  .title-card {
    margin: 1%;
    font-size: 1.2em;
    font-weight: bold;
  }

  .table-vendas {
    height: 100%;
    width: 100%;
  }

  .graphic {
    width: 98%;
    height: 75%;
    margin: auto;
    overflow: auto;
  }
}

@media (min-width: 901px) and (max-width: 928px) {
  #table-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 37vw;
    margin-right: 0vw;
    margin-left: 5vw;
  }

  .tabelas {
    display: flex;
    flex-direction: column;
  }

  .horizontal {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .horizontal2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    width: 45%;
    height: 100%;
    margin-left: 2%;
    margin-right: 1vw;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  table {
    border-collapse: collapse;
  }

  thead tr td {
    font-weight: bold;
  }

  .title-card {
    margin: 1%;
    font-size: 1.2em;
    font-weight: bold;
  }

  .table-vendas {
    height: 100%;
    width: 100%;
  }

  .graphic {
    width: 98%;
    height: 75%;
    margin: auto;
    overflow: auto;
  }
}

@media (min-width: 929px) and (max-width: 2560px) {
  #table-horizontal {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 40vw;
    margin-top: 1%;
    margin-left: 1%;
  }

  .tabelas {
    display: flex;
    flex-direction: row;
  }

  .horizontal {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48%;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .horizontal2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48%;
    margin-top: 3.5%;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  table {
    border-collapse: collapse;
  }

  thead tr td {
    font-weight: bold;
  }

  .title-card {
    margin: 1%;
    font-size: 1.2em;
    font-weight: bold;
  }

  .table-vendas {
    height: 100%;
    width: 100%;
  }

  .graphic {
    width: 98%;
    height: 75%;
    margin: auto;
    overflow: auto;
  }
}
