<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendas</title>

  <!---------------------------------------------------------------------------------------------------------------------->
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular-resource.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular-route.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular-sanitize.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular-mask.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular-medidas-si.js"></script>

  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular-array-utils.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular-date-utils.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/angular-proxy-global.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="js/angular/ngMask.min.js"></script>
  <!---------------------------------------------------------------------------------------------------------------------->

  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="css/all.css">
</head>

<body ng-controller="DashController">

  <div class="container">
    <div class="card">
      <div class="title-header1">Encomendas</div>
      <div class="card-body">
        <table>
          <tr>
            <td>Descrição</td>
            <td>Qtd</td>
            <td class="padding-column-Left">Valor</td>
          </tr>
          <tr ng-repeat="item in api.painel_1">
            <td>{{item.operacao}}</td>
            <td>{{item.qtd}}</td>
            <td class="padding-column-Left">{{item.valor}}</td>
          </tr>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="title-header2">Vendas</div>
      <div class="card-body">
        <table>
          <tr>
            <td>Descrição</td>
            <td>Qtd</td>
            <td class="padding-column-Left">Valor</td>
          </tr>
          <tr ng-repeat="item in api.painel_2">
            <td>{{item.operacao}}</td>
            <td>{{item.qtd}}</td>
            <td class="padding-column-Left">{{item.valor}}</td>
          </tr>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="title-header3">Ordem de Serviço</div>
      <div class="card-body">
        <table>
          <tr>
            <td>Descrição</td>
            <td>Qtd</td>
            <td class="padding-column-Left">Valor</td>
          </tr>
          <tr ng-repeat="item in api.painel_3">
            <td>{{item.operacao}}</td>
            <td>{{item.qtd}}</td>
            <td class="padding-column-Left">{{item.valor}}</td>
          </tr>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="title-header4">Financeiro</div>
      <div class="card-body">
        <table>
          <tr>
            <td>Descrição</th>
            <td>Qtd</th>
            <td class="padding-column-Left">Valor</th>
          </tr>
          <tr ng-repeat="item in api.painel_4">
            <td>{{item.operacao}}</td>
            <td>{{item.qtd}}</td>
            <td class="padding-column-Left">{{item.valor}}</td>
          </tr>
        </table>
      </div>
    </div>


    <div class="card">
      <div class="title-header5">Fechamento de Caixa</div>

      <div class="card-body">

        <table>
          <tr>
            <td>Descrição</th>
            <td>Qtd</th>
            <td class="padding-column-Left">Valor</th>
          </tr>
          <tr ng-repeat="item in api.painel_5">
            <td>{{item.operacao}}</td>
            <td>{{item.qtd}}</td>
            <td class="padding-column-Left">{{item.valor}}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="card">
      <div class="title-header6">Compras</div>

      <div class="card-body">

        <table>
          <tr>
            <td>Descrição</th>
            <td>Qtd</th>
            <td class="padding-column-Left">Valor</th>
          </tr>
          <tr ng-repeat="item in api.painel_6">
            <td>{{item.operacao}}</td>
            <td>{{item.qtd}}</td>
            <td class="padding-column-Left">{{item.valor}}</td>
          </tr>
        </table>
      </div>

    </div>

    <script src="app.js"></script>
  </div>
</body>

</html>
