<!DOCTYPE html>
<html lang="pt-br" ng-app="app">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vendas</title>

  <!--scripts externos-->
  <script src="https://kit.fontawesome.com/6382a739c1.js" crossorigin="anonymous"></script>
  
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular-resource.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular-route.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular-sanitize.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular-mask.min.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular-medidas-si.js"></script>

  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular-array-utils.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular-date-utils.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/angular-proxy-global.js"></script>
  <script type="text/javascript" charset="ISO-8859-1" src="./js/angular/ngMask.min.js"></script>

  <!--links-->
  <link rel="stylesheet" href="css/all.css">  

</head>

<body ng-controller="DashController">
  <header id="header">
    <h1 class="text-title">VISÃO GERAL DE VENDAS</h1>
  </header>

  <nav id="navigation">
    <i class="fas fa-eraser fa-2x"></i>

    <span class="home">
      <i class="fas fa-home fa-2x"></i>
    </span>
  </nav>

  <section id="dados">
    <article class="dados-card">

      <div class="card">
        <div class="circle1">
          
        </div>

        <div class="infos-infos">

          <p>
            <span class="title">Faturamento
              </br>
            </span>

          <div class="info-content">
            <b class="infos">R$10.214.809</b>
          </div>
          </p>

          <div class="footer">
            <p class="num-footer1">54%</p>
            <span class="text-footer">Vs. ano anterior</span>
          </div>
        </div>
      </div>

      <div class="card2">
        <div class="circle2">
          <div class="icon">
            <i class="fas fa-chart-line fa-2x"></i>
          </div>
        </div>

        <div class="infos-infos">

          <p>
            <span class="title">Qtd Vendas
              </br>
            </span>

          <div class="info-content">
            <b class="infos">32.065</b>
          </div>
          </p>

          <div class="footer">
            <p class="num-footer2">83%</p>
            <span class="text-footer">Vs. ano anterior</span>
          </div>
        </div>
      </div>
    </article>

    <article class="dados-card">

      <div class="card3">

        <div class="circle3">
          <div class="icon">
            <i class="fas fa-shopping-cart fa-2x"></i>
          </div>
        </div>

        <div class="infos-infos">

          <p>
            <span class="title">Ticket Médio
              </br>
            </span>

          <div class="info-content">
            <b class="infos">R$318,57</b>
          </div>
          </p>

          <div class="footer">
            <p class="num-footer3">-16%</p>
            <p class="text-footer">Vs. ano anterior</p>
          </div>
        </div>
      </div>
      </div>

      <div class="card4">

        <div class="circle4">
          <div class="icon">
            <i class="fas fa-tags fa-2x"></i>
          </div>
        </div>

        <div class="infos-infos">

          <p>
            <span class="title">Positivação
              </br>
            </span>

          <div class="info-content">
            <b class="infos">667</b>
          </div>
          </p>

          <div class="footer">
            <p class="num-footer4">13%</p>
            <span class="text-footer">Vs. ano anterior</span>
          </div>
        </div>
      </div>
      </div>
      </div>
    </article>
  </section>

  <sectio class="tabelas">

    <section id="table-horizontal">
      <article class="horizontal">

        <p class="title-card">Evolução de Vendas</p>

        <div class="graphic">

          <table class="table-vendas">
            <thead>
              <tr>
                <td class="header-tableGerente">Trimestre</td>
                <td class="header-table">Faturamento</td>
                <td class="header-tablePositiva">Qtd Vendas</td>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="item in api.painel_2">
                <td class="header-tableGerente">{{item.operacao}}</td>
                <td class="header-tableGerente">{{item.valor}}</td>
                <td class="header-tablePositiva">{{item.qtd}}</td>
              </tr>
            </tbody>
            <script src="app.js"></script>

          </table>
        </div>
      </article>

      <article class="horizontal2">

        <div class="graphic">

          <table class="table-vendas">
            <thead>
              <tr>
                <td class="header-tableGerente">Gerente</td>
                <td class="header-table">Faturamento</td>
                <td class="header-table">Qtd Vendas</td>
                <td class="header-table">Ticket Médio</td>
                <td class="header-tablePositiva">Positivação</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in api.painel_4">
                <td class="header-tableGerente">
                  <i class="far fa-minus-square">
                    {{item.operacao}}
                  </i>
                </td>

                <td class="header-table">{{item.valor}}</td>
                <td class="header-table">{{item.qtd}}</td>
                <td class="header-table">{{item.qtd}}</td>
                <td class="header-tablePositiva">{{item.valor}}</td>
              </tr>
              
            </tbody>

            <tfoot class="footer-table">
              <tr>
                <td class="header-tableLast">Total</td>
                <td class="header-tableLast">R$10.214.809</td>
                <td class="header-tableLast">32.065</td>
                <td class="header-tableLast">R$318,57</td>
                <td class="header-tableLast">667</td>
              </tr>
            </tfoot>
            <script src="app.js"></script>

          </table>

        </div>
      </article>

    </section>

    <aside id="right">
      <section class="vertical-cards">
        <article class="cards">

          <div class="container-card-vertical">

            <div class="card-vertical">
              <p class="title-card">Ticket Médio por Pronto</p>

              <div class="lista">
                <table class="table-vendas">
                  <thead>
                    <tr>
                      <td class="header-tableGerente">Produto</td>
                      <td class="header-tablePositiva">Valor (R$)</td>
                    </tr>
                  </thead>
                  <tbody>

                    <tr ng-repeat="item in api.painel_2">
                      <td class="header-tableGerente">{{item.operacao}}</td>
                      <td class="header-tablePositiva">{{item.qtd}}</td>
                    </tr>

                  </tbody>
                  <script src="app.js"></script>

                </table>
              </div>
            </div>

        </article>
      </section>

      <div class="card-vertical2">
        <p class="title-card">Positivação por Produto</p>

        <div class="lista">
          <table class="table-vendas">
            <thead>
              <tr>
                <td class="header-tableGerente">Produto</td>
                <td class="header-tablePositiva">Positivação (%)</td>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="item in api.painel_1">
                <td class="header-tableGerente">{{item.operacao}}</td>
                <td class="header-tablePositiva">{{item.qtd}}</td>
              </tr>
            </tbody>
            <script src="app.js"></script>

          </table>
        </div>
      </div>
    </aside>

  </sectio>
 <!-- -->
</body>

</html>

