#cards {
  display: flex;
  justify-content: center;
  height: 46.8vw;
}

.title-header {
  font-size: 1.3em;
  margin-left: 5vw;
  font-weight: bold;
}

.cards-left {
  display: flex;
  flex-direction: column;
  height: 44vw;
  width: 30vw;
  margin-right: 2vw;
  margin-top: 3vw;
}

.cards-center {
  display: flex;
  flex-direction: column;
  height: 44vw;
  width: 30vw;
  margin-right: 2vw;
  margin-top: 20vw;
}

.cards-right {
  display: flex;
  flex-direction: column;
  height: 44vw;
  width: 30vw;
  margin-right: 2vw;
  margin-top: 3vw;
}

.card-up {
  display: flex;
  flex-direction: column;
  height: 20vw;
  width: 100%;
  border-radius: 10px;
  background-color: #fff;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1vw;
  padding: 0.5vw;
  overflow: auto;
}

.card-down {
  display: flex;
  flex-direction: column;
  height: 20vw;
  width: 100%;
  margin-top: 4vw;
  border-radius: 10px;
  background-color: #fff;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1vw;
  padding: 0.5vw;
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-top: 1vw;
}

.header-tableLeft,
.header-tableCenter,
.header-tableRight {
  color: #000;
  border-style: solid;
  border-color: rgb(185, 185, 185);
  border-width: 0.01vw;
  font-weight: bold;
}

.header-tableLeft {
  border-collapse: collapse;
  border-top-left-radius: 10px;
  height: 2vw;
  border-top: none;
  border-left: none;
  font-size: 1vw;
}

.header-tableCenter {
  border-collapse: collapse;
  height: 2vw;
  border-top: none;
  border-left: none;
  font-size: 1vw;
}

.header-tableRight {
  border-collapse: collapse;
  border-top-right-radius: 10px;
  height: 2vw;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1vw;
}

#body-tableLeft {
  border-color: rgb(185, 185, 185);
  border-style: solid;
  border-width: 0.01vw;
  border-left: none;
  border-bottom: none;
  font-size: 1vw;
  width: 13vw;
  padding-right: 3vw;
}

/*=========================*/

/*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

/*===========================*/

#qtd-Compras {
  padding-top: 0.5vw;
  border-color: rgb(185, 185, 185);
  border-style: solid;
  border-width: 0.01vw;
  border-right: none;
  border-bottom: none;
  font-size: 1vw;
}

#valor-Compras {
  padding-top: 0.5vw;
  border-color: rgb(185, 185, 185);
  border-style: solid;
  border-width: 0.01vw;
  border-right: none;
  border-bottom: none;
  font-size: 1vw;
}

/*===========================*/

@media only screen and (max-width: 320px) {
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .title-header {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
  }

  .cards-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    margin-top: 23vw;
    margin-left: 5vw;
  }

  .cards-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    margin-top: 21vw;
    margin-left: 5vw;
  }

  .cards-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    margin-top: 21vw;
    margin-left: 5vw;
  }

  .card-up {
    display: flex;
    flex-direction: column;
    height: 32vh;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  .card-down {
    display: flex;
    flex-direction: column;
    height: 41vh;
    width: 100%;
    margin-top: 22vw;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1vw;
  }

  .header-tableLeft,
  .header-tableCenter,
  .header-tableRight {
    /*background-color: #4154FF;
    color: #fff;*/
    color: #000;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 0.01vw;
    font-weight: bold;
  }

  .header-tableLeft {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    height: 0vw;
    border-top: none;
    border-left: none;
  }

  .header-tableCenter {
    border-collapse: collapse;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 4vw;
  }

  .header-tableRight {
    border-collapse: collapse;
    border-top-right-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 4vw;
  }

  #body-tableLeft {
    padding-left: 0vw;
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-left: none;
    border-bottom: none;
    font-size: 4vw;
    width: 40vw;
  }

  /*=========================*/

  /*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

  /*===========================*/

  #qtd-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 4vw;
  }

  #valor-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 4vw;
  }

  /*===========================*/
}

@media (min-width: 321px) and (max-width: 375px) {
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .title-header {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
  }

  .cards-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    margin-top: 21vw;
    margin-left: 5vw;
  }

  .cards-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    margin-top: 21vw;
    margin-left: 5vw;
  }

  .cards-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 85vh;
    width: 90vw;
    margin-top: 21vw;
    margin-left: 5vw;
  }

  .card-up {
    display: flex;
    flex-direction: column;
    height: 42vh;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  .card-down {
    display: flex;
    flex-direction: column;
    height: 42vh;
    width: 100%;
    margin-top: 22vw;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1vw;
  }

  .header-tableLeft,
  .header-tableCenter,
  .header-tableRight {
    /*background-color: #4154FF;
    color: #fff;*/
    color: #000;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 0.01vw;
    font-weight: bold;
  }

  .header-tableLeft {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    height: 0vw;
    border-top: none;
    border-left: none;
  }

  .header-tableCenter {
    border-collapse: collapse;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 4vw;
  }

  .header-tableRight {
    border-collapse: collapse;
    border-top-right-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 4vw;
  }

  #body-tableLeft {
    padding-left: 0vw;
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-left: none;
    border-bottom: none;
    font-size: 4vw;
    width: 40vw;
  }

  /*=========================*/

  /*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

  /*=========================*/

  #qtd-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 4vw;
  }

  #valor-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 4vw;
  }

  /*===========================*/
}

@media (min-width: 376px) and (max-width: 425px) {
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .title-header {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
  }

  .cards-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90vw;
    margin-top: 19vw;
    margin-left: 5vw;
  }

  .cards-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90vw;
    margin-top: 21vw;
    margin-left: 5vw;
  }

  .cards-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90vw;
    margin-top: 21vw;
    margin-left: 5vw;
  }

  .card-up {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  .card-down {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    margin-top: 18vw;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1vw;
  }

  .header-tableLeft,
  .header-tableCenter,
  .header-tableRight {
    /*background-color: #4154FF;
    color: #fff;*/
    color: #000;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 0.01vw;
    font-weight: bold;
  }

  .header-tableLeft {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    height: 0vw;
    border-top: none;
    border-left: none;
  }

  .header-tableCenter {
    border-collapse: collapse;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 4vw;
  }

  .header-tableRight {
    border-collapse: collapse;
    border-top-right-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 4vw;
  }

  #body-tableLeft {
    padding-left: 0vw;
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-left: none;
    border-bottom: none;
    font-size: 4vw;
    width: 40vw;
  }

  /*=========================*/

  /*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

  /*===========================*/

  #qtd-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 4vw;
  }

  #valor-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 4vw;
  }

  /*===========================*/
}

@media (min-width: 426px) and (max-width: 768px) {
  #cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .title-header {
    font-size: 1.3em;
    margin-left: 5vw;
    font-weight: bold;
  }

  .cards-left {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 5vw;
  }

  .cards-center {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 5vw;
  }

  .cards-right {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 6vw;
  }

  .card-up {
    display: flex;
    flex-direction: column;
    height: 24vh;
    width: 48%;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  .card-down {
    display: flex;
    flex-direction: column;
    height: 24vh;
    width: 48%;
    margin-top: 0vw;
    margin-left: 4vw;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1vw;
  }

  .header-tableLeft,
  .header-tableCenter,
  .header-tableRight {
    /*background-color: #4154FF;
    color: #fff;*/
    color: #000;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 0.01vw;
    font-weight: bold;
  }

  .header-tableLeft {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 2vw;
  }

  .header-tableCenter {
    border-collapse: collapse;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 1.6vw;
  }

  .header-tableRight {
    border-collapse: collapse;
    border-top-right-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.6vw;
  }

  #body-tableLeft {
    padding-left: 1vw;
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-left: none;
    border-bottom: none;
    font-size: 1.5vw;
    width: 17vw;
  }

  /*=========================*/

  /*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

  /*===========================*/

  #qtd-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 2vw;
  }

  #valor-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 2vw;
  }

  /*===========================*/
}

@media (min-width: 769px) and (max-width: 1024px) {
  #cards {
    display: flex;
    justify-content: center;
    height: 46.8vw;
  }

  .title-header {
    font-size: 1.3em;
    margin-left: 5vw;
    font-weight: bold;
  }

  .cards-left {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .cards-center {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .cards-right {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .card-up {
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  .card-down {
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 100%;
    margin-top: 4vw;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1vw;
  }

  .header-tableLeft,
  .header-tableCenter,
  .header-tableRight {
    color: #000;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 0.01vw;
    font-weight: bold;
  }

  .header-tableLeft {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 1vw;
  }

  .header-tableCenter {
    border-collapse: collapse;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 1vw;
  }

  .header-tableRight {
    border-collapse: collapse;
    border-top-right-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1vw;
  }

  #body-tableLeft {
    padding-left: 1vw;
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-left: none;
    border-bottom: none;
    font-size: 1vw;
    width: 13vw;
  }

  /*=========================*/

  /*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

  /*===========================*/

  #qtd-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 1.5vw;
  }

  #valor-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 1.5vw;
  }

  /*===========================*/
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #cards {
    display: flex;
    justify-content: center;
    height: 46.8vw;
  }

  .title-header {
    font-size: 1.6em;
    margin-left: 5vw;
    font-weight: bold;
  }

  .cards-left {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .cards-center {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .cards-right {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .card-up {
    display: flex;
    flex-direction: column;
    height: 22vw;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  .card-down {
    display: flex;
    flex-direction: column;
    height: 22vw;
    width: 100%;
    margin-top: 2vw;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 0.5vw;
  }

  .header-tableLeft,
  .header-tableCenter,
  .header-tableRight {
    color: #000;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 0.01vw;
    font-weight: bold;
  }

  .header-tableLeft {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 0.8vw;
  }

  .header-tableCenter {
    border-collapse: collapse;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 1vw;
  }

  .header-tableRight {
    border-collapse: collapse;
    border-top-right-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1vw;
  }

  #body-tableLeft {
    padding-left: 1vw;
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-left: none;
    border-bottom: none;
    font-size: 1vw;
    width: 15vw;
  }

  /*=========================*/

  /*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

  /*===========================*/

  #qtd-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 1.3vw;
  }

  #valor-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 1.3vw;
  }

  /*===========================*/
}

@media (min-width: 1441px) and (max-width: 2560px) {
  #cards {
    display: flex;
    justify-content: center;
    height: 46.8vw;
  }

  .title-header {
    font-size: 2em;
    margin-left: 5vw;
    font-weight: bold;
  }

  .cards-left {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .cards-center {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .cards-right {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .card-up {
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  .card-down {
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 100%;
    margin-top: 4vw;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    padding: 0.5vw;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1vw;
  }

  .header-tableLeft,
  .header-tableCenter,
  .header-tableRight {
    color: #000;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 0.01vw;
    font-weight: bold;
  }

  .header-tableLeft {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 1vw;
  }

  .header-tableCenter {
    border-collapse: collapse;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 1vw;
  }

  .header-tableRight {
    border-collapse: collapse;
    border-top-right-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1vw;
  }

  #body-tableLeft {
    padding-left: 1vw;
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-left: none;
    border-bottom: none;
    font-size: 0.9vw;
    width: 15vw;
  }

  /*=========================*/

  /*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

  /*===========================*/
}

@media only screen and (min-width: 2561px) {
  #cards {
    display: flex;
    justify-content: center;
    height: 46.8vw;
  }

  .title-header {
    font-size: 2.5em;
    margin-left: 5vw;
    font-weight: bold;
  }

  .cards-left {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .cards-center {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .cards-right {
    display: flex;
    flex-direction: column;
    height: 44vw;
    width: 30vw;
    margin-right: 2vw;
    margin-top: 3vw;
  }

  .card-up {
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(175, 175, 175);
    border-style: solid;
    border-width: 0.1vw;
    padding: 0.5vw;
    overflow: auto;
  }

  .card-down {
    display: flex;
    flex-direction: column;
    height: 20vw;
    width: 100%;
    margin-top: 4vw;
    border-radius: 10px;
    background-color: #fff;
    border-color: rgb(175, 175, 175);
    border-style: solid;
    border-width: 0.11vw;
    padding: 0.5vw;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 1vw;
  }

  .header-tableLeft,
  .header-tableCenter,
  .header-tableRight {
    color: #000;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-width: 0.01vw;
    font-weight: bold;
  }

  .header-tableLeft {
    border-collapse: collapse;
    border-top-left-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 1vw;
  }

  .header-tableCenter {
    border-collapse: collapse;
    height: 2vw;
    border-top: none;
    border-left: none;
    font-size: 1.5vw;
  }

  .header-tableRight {
    border-collapse: collapse;
    border-top-right-radius: 10px;
    height: 2vw;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1.5vw;
  }

  #body-tableLeft {
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-left: none;
    border-bottom: none;
    font-size: 1.1vw;
    width: 13vw;
    padding-right: 3vw;
  }

  /*=========================*/

  /*
  qtd-Encomendas
  valor-Encomendas

  qtd-Financeiro
  valor-Financeiro

  qtd-Vendas
  valor-Vendas

  qtd-FechamentoDeCaixa
  valor-FechamentoDeCaixa

  qtd-OS
  valor-OS

  qtd-Compras
  valor-Compras
*/

  /*===========================*/

  #qtd-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 1.4vw;
  }

  #valor-Compras {
    padding-top: 0.5vw;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-width: 0.01vw;
    border-right: none;
    border-bottom: none;
    font-size: 1.4vw;
  }

  /*===========================*/
}
