#header-circle {
  display: flex;
  flex-direction: row;
}

.circle-LeftUp {
  display: flex;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(251, 255, 0);
  justify-content: center;
  position: absolute;
  margin-left: 1vw;
  margin-top: 2vw;
}

.circle-CenterUp {
  display: flex;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(255, 73, 216);
  justify-content: center;
  position: absolute;
  margin-left: 33vw;
  margin-top: 2vw;
}

.circle-RightUp {
  display: flex;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(255, 0, 0);
  justify-content: center;
  position: absolute;
  margin-left: 65vw;
  margin-top: 2vw;
}

.circle-LeftDown {
  display: flex;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(0, 255, 0);
  justify-content: center;
  position: absolute;
  margin-top: 26vw;
  margin-left: 1vw;
}

.circle-CenterDown {
  display: flex;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(0, 162, 255);
  justify-content: center;
  position: absolute;
  margin-top: 26vw;
  margin-left: 33vw;
}

.circle-RightDown {
  display: flex;
  align-items: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(0, 255, 115);
  justify-content: center;
  position: absolute;
  margin-top: 26vw;
  margin-left: 65vw;
}

@media only screen and (max-width: 320px) {
  .circle-LeftUp {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 5vw;
    margin-left: 43vw;
  }

  .circle-CenterUp {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(255, 73, 216);
    justify-content: center;
    position: absolute;
    margin-top: 84vw;
    margin-left: 43vw;
  }

  .circle-RightUp {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(255, 73, 73);
    justify-content: center;
    position: absolute;
    margin-top: 100vh;
    margin-left: 43vw;
  }

  .circle-LeftDown {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 144vh;
    margin-left: 43vw;
  }

  .circle-CenterDown {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    justify-content: center;
    position: absolute;
    margin-top: 196.6vh;
    margin-left: 43vw;
  }

  .circle-RightDown {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(0, 255, 115);
    justify-content: center;
    position: absolute;
    margin-top: 241vh;
    margin-left: 43vw;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .circle-LeftUp {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 3vw;
    margin-left: 43vw;
  }

  .circle-CenterUp {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(255, 73, 216);
    justify-content: center;
    position: absolute;
    margin-top: 79vw;
    margin-left: 43vw;
  }

  .circle-RightUp {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(255, 73, 73);
    justify-content: center;
    position: absolute;
    margin-top: 101vh;
    margin-left: 43vw;
  }

  .circle-LeftDown {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 151vh;
    margin-left: 43vw;
  }

  .circle-CenterDown {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    justify-content: center;
    position: absolute;
    margin-top: 200vh;
    margin-left: 43vw;
  }

  .circle-RightDown {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(0, 255, 115);
    justify-content: center;
    position: absolute;
    margin-top: 250vh;
    margin-left: 43vw;
  }
}

@media (min-width: 376px) and (max-width: 425px) {
  .circle-LeftUp {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 4vw;
    margin-left: 45vw;
  }

  .circle-CenterUp {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(255, 73, 216);
    justify-content: center;
    position: absolute;
    margin-top: 89vw;
    margin-left: 43vw;
  }

  .circle-RightUp {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(255, 73, 73);
    justify-content: center;
    position: absolute;
    margin-top: 117vh;
    margin-left: 43vw;
  }

  .circle-LeftDown {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 173vh;
    margin-left: 43vw;
  }

  .circle-CenterDown {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    justify-content: center;
    position: absolute;
    margin-top: 231vh;
    margin-left: 43vw;
  }

  .circle-RightDown {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(0, 255, 115);
    justify-content: center;
    position: absolute;
    margin-top: 287vh;
    margin-left: 43vw;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  #header-circle {
    display: flex;
    flex-direction: row;
  }
  
  .circle-LeftUp {
    display: flex;
    align-items: center;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    position: absolute;
    margin-left: 2vw;
    margin-top: 2vw;
    font-size: 0.7rem;
  }
  
  .circle-CenterUp {
    display: flex;
    align-items: center;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background-color: rgb(255, 73, 216);
    justify-content: center;
    position: absolute;
    margin-left: 49vw;
    margin-top: 2vw;
    font-size: 0.7rem;
  }
  
  .circle-RightUp {
    display: flex;
    align-items: center;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    justify-content: center;
    position: absolute;
    margin-left: 2vw;
    margin-top: 33vh;
    font-size: 0.7rem;
  }
  
  .circle-LeftDown {
    display: flex;
    align-items: center;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    justify-content: center;
    position: absolute;
    margin-left: 49vw;
    margin-top: 33vh;
    font-size: 0.7rem;
  }
  
  .circle-CenterDown {
    display: flex;
    align-items: center;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    justify-content: center;
    position: absolute;
    margin-top: 48vw;
    margin-left: 2vw;
    font-size: 0.7rem;
  }
  
  .circle-RightDown {
    display: flex;
    align-items: center;
    width: 3.2em;
    height: 3.2em;
    border-radius: 50%;
    background-color: rgb(0, 255, 115);
    justify-content: center;
    position: absolute;
    margin-top: 48vw;
    margin-left: 49vw;
    font-size: 0.7rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #header-circle {
    display: flex;
    flex-direction: row;
  }
  
  .circle-LeftUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    position: absolute;
    margin-left: 1vw;
    margin-top: 2vw;

  }
  
  .circle-CenterUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(255, 73, 216);
    justify-content: center;
    position: absolute;
    margin-left: 33vw;
    margin-top: 2vw;
  }
  
  .circle-RightUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    justify-content: center;
    position: absolute;
    margin-left: 65vw;
    margin-top: 2vw;
  }
  
  .circle-LeftDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 1vw;
  }
  
  .circle-CenterDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 33vw;
  }
  
  .circle-RightDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 255, 115);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 65vw;
  }
  
}

@media (min-width: 1025px) and (max-width: 1440px) {
  #header-circle {
    display: flex;
    flex-direction: row;
  }
  
  .circle-LeftUp {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    position: absolute;
    margin-left: 1vw;
    margin-top: 2vw;
  }
  
  .circle-CenterUp {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(255, 73, 216);
    justify-content: center;
    position: absolute;
    margin-left: 33vw;
    margin-top: 2vw;
  }
  
  .circle-RightUp {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    justify-content: center;
    position: absolute;
    margin-left: 65vw;
    margin-top: 2vw;
  }
  
  .circle-LeftDown {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 25vw;
    margin-left: 1vw;
  }
  
  .circle-CenterDown {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    justify-content: center;
    position: absolute;
    margin-top: 25vw;
    margin-left: 33vw;
  }
  
  .circle-RightDown {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(0, 255, 115);
    justify-content: center;
    position: absolute;
    margin-top: 25vw;
    margin-left: 65vw;
  }
  
}

@media (min-width: 1441px) and (max-width: 2560px) {
  #header-circle {
    display: flex;
    flex-direction: row;
  }
  
  .circle-LeftUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    position: absolute;
    margin-left: 1vw;
    margin-top: 2vw;

    font-size: 1.5em;
  }
  
  .circle-CenterUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(255, 73, 216);
    justify-content: center;
    position: absolute;
    margin-left: 33vw;
    margin-top: 2vw;

    font-size: 1.5em;
  }
  
  .circle-RightUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    justify-content: center;
    position: absolute;
    margin-left: 65vw;
    margin-top: 2vw;

    font-size: 1.5em;
  }
  
  .circle-LeftDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 1vw;

    font-size: 1.5em;
  }
  
  .circle-CenterDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 33vw;

    font-size: 1.5em;
  }
  
  .circle-RightDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 255, 115);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 65vw;

    font-size: 1.5em;
  }
}

@media only screen and (min-width: 2561px) {
  #header-circle {
    display: flex;
    flex-direction: row;
  }
  
  .circle-LeftUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(251, 255, 0);
    justify-content: center;
    position: absolute;
    margin-left: 1vw;
    margin-top: 2vw;

    font-size: 1.5vw;
  }
  
  .circle-CenterUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(255, 73, 216);
    justify-content: center;
    position: absolute;
    margin-left: 33vw;
    margin-top: 2vw;

    font-size: 1.5vw;
  }
  
  .circle-RightUp {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    justify-content: center;
    position: absolute;
    margin-left: 65vw;
    margin-top: 2vw;

    font-size: 1.5vw;
  }
  
  .circle-LeftDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 1vw;

    font-size: 1.5vw;
  }
  
  .circle-CenterDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 162, 255);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 33vw;

    font-size: 1.5vw;
  }
  
  .circle-RightDown {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: rgb(0, 255, 115);
    justify-content: center;
    position: absolute;
    margin-top: 26vw;
    margin-left: 65vw;

    font-size: 1.5vw;
  }
}
