#dados {
  background-color: red;
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 7vw;
  margin-left: 1%;
}

.dados-card {
  display: flex;
  flex-direction: row;
}

.card{
  display: flex;
  flex-direction: row;
  width: 23vw; 
  height: 100%; 
  background-color: white; 
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);
  margin-left: 0.5vw;
}

.card2{
  display: flex;
  flex-direction: row;
  width: 23vw; 
  height: 100%; 
  background-color: white; 
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);

  margin-left: 1.5vw;
}

.card3{
  display: flex;
  flex-direction: row;
  width: 23vw; 
  height: 100%; 
  background-color: white; 
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);

  margin-left: 2vw;
}

.card4{
  display: flex;
  flex-direction: row;
  width: 22.5vw; 
  height: 100%; 
  background-color: white; 
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);

  margin-left: 1.9vw;
}

.circle1 {
  display: flex;
  align-items: center;
  width: 4.3em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(195, 0, 255);
  margin-top: 1vw;
  margin-left: 0.8vw;
  justify-content: center
}

.circle2 {
  display: flex;
  align-items: center;
  width: 4.3em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(35, 190, 48);
  margin-top: 1vw;
  margin-left: 0.8vw;
  justify-content: center
}

.circle3 {
  display: flex;
  align-items: center;
  width: 4.3em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(9, 214, 241);
  margin-top: 1vw;
  margin-left: 0.8vw;
  justify-content: center
}

.circle4 {
  display: flex;
  align-items: center;
  width: 4.3em;
  height: 4em;
  border-radius: 50%;
  background-color: rgb(241, 10, 203);
  margin-top: 1vw;
  margin-left: 0.8vw;
  justify-content: center
}

.icon {
  color: #fff;
  font-size: 1rem;
}

.infos-infos {
  margin-top: 2%;
  margin-left: 1vw;
  width: 70%;
  height: 6.5vw;
}

.title {
  font-size: 1rem;
  color:rgb(95, 95, 95);
  font-family: verdana, arial, helvetica;
}

.infos {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1vw;
}

.info-content {
  margin-top: 0.5vw;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 15vw;
  height: 2vw;
}

.text-footer {
  margin-left: 0.5vw;
  font-size: 0.9rem;
}

.num-footer1 {
  color: rgb(133, 44, 160);
  font-weight: bold;
  font-size: 0.9rem;
}

.num-footer2 {
  color: rgb(38, 177, 49);
  font-weight: bold;
}

.num-footer3 {
  color: rgb(37, 183, 202);
  font-weight: bold;
}

.num-footer4 {
  color: rgb(199, 33, 171);
  font-weight: bold;
}

@media only screen and (max-width: 586px) {
  #dados {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    height: 64vw;
    margin-left: 1%;
    margin-top: 2vw;
  }
  
  .dados-card {
    display: flex;
    flex-direction: column;
  }

  .card{
    display: flex;
    flex-direction: row;
    width: 50vw; 
    height: 15vw; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .circle1 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .card2{
    display: flex;
    flex-direction: row;
    width: 50vw; 
    height: 15vw; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.2vw;
    margin-left: 0vw;
  }

  .circle2 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 1vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .card3{
    display: flex;
    flex-direction: row;
    width: 50vw; 
    height: 15vw; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.2vw;
    margin-left: 0vw;
  }

  .circle3 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 1vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .card4{
    display: flex;
    flex-direction: row;
    width: 50vw; 
    height: 15vw; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.2vw;
    margin-left: 0vw;
  }

  .circle4 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 1vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .infos-infos {
    margin-top: 2%;
    margin-left: 2vw;
    width: 75%;
    height: 11vw;
  }

  .title {
    font-size: 0.9rem;
    color:rgb(95, 95, 95);
    font-family: verdana, arial, helvetica;
  }

  .infos {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 1vw;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1vw;
    width: 35vw;
    height: 2vw;
  }
 
  .icon {
    color: #fff;
    font-size: 0.9rem;
  }
}

@media (min-width: 587px) and (max-width: 619px) {
  #dados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 30vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: column;
  }

  .card{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .card2{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 0vw;
  }

  .card3{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-left: 2vw;
  }

  .card4{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 2vw;
  }

  .circle1 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle2 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle3 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle4 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1vw;
    width: 30vw;
    height: 2vw;
  }

  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
    font-size: 0.8rem;
  }
}

@media (min-width: 620px) and (max-width: 655px) {
  #dados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 30vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: column;
  }

  .card{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .card2{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 0vw;
  }

  .card3{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-left: 2vw;
  }

  .card4{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 2vw;
  }

  .circle1 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle2 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle3 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle4 {
    display: flex;
    align-items: center;
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1vw;
    width: 30vw;
    height: 2vw;
  }

  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
    font-size: 0.8rem;
  }
}

@media (min-width: 656px) and (max-width: 742px) {
  #dados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 30vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: column;
  }

  .infos-infos {
    margin-top: 2%;
    margin-left: 2vw;
    width: 70%;
    height: 11vw;
  }

  .icon {
    color: #fff;
    font-size: 1.1rem;
  }

  .card{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .card2{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 0vw;
  }

  .card3{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-left: 2vw;
  }

  .card4{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 13vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 2vw;
  }

  .circle1 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle2 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle3 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle4 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1vw;
    width: 30vw;
    height: 2vw;
  }

  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
    font-size: 0.8rem;
  }

  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
    font-size: 0.8rem;
  }
}

@media (min-width: 743px) and (max-width: 850px) {
  #dados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 25vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: column;
  }

  .infos-infos {
    margin-top: 2%;
    margin-left: 2vw;
    width: 70%;
    height: 11vw;
  }

  .info-content {
    margin-top: 0.1vw;
  }

  .icon {
    color: #fff;
    font-size: 1.1rem;
  }

  .card{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 10vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .card2{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 10vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 0vw;
  }

  .card3{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 10vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-left: 2vw;
  }

  .card4{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 10vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 2vw;
  }

  .circle1 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle2 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle3 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle4 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1vw;
    width: 30vw;
    height: 2vw;
  }

  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 1rem;
  }

  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
    font-size: 1rem;
  }

  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
    font-size: 1rem;
  }

  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
    font-size: 1rem;
  }
}

@media (min-width: 851px) and (max-width: 928px) {
  #dados {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 97%;
    height: 25vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: column;
  }

  .infos-infos {
    margin-top: 2%;
    margin-left: 2vw;
    width: 70%;
    height: 11vw;
  }

  .icon {
    color: #fff;
    font-size: 1.1rem;
  }

  .card{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 10vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
  }

  .card2{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 10vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 0vw;
  }

  .card3{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 10vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-left: 2vw;
  }

  .card4{
    display: flex;
    flex-direction: row;
    width: 40vw; 
    height: 10vw;
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    margin-top: 1.5vw;
    margin-left: 2vw;
  }

  .circle1 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle2 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle3 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .circle4 {
    display: flex;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 1.2vw;
    margin-left: 0.8vw;
    justify-content: center
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1vw;
    width: 30vw;
    height: 2vw;
  }

  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 1rem;
  }

  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
    font-size: 1rem;
  }

  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
    font-size: 1rem;
  }

  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
    font-size: 1rem;
  }
}

@media (min-width: 929px) and (max-width: 1114px) {
  #dados {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 9vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: row;
  }
  
  .card{
    display: flex;
    flex-direction: row;
    width: 23.2vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.2px;
    border-color: rgb(212, 212, 212);
  }
  
  .card2{
    display: flex;
    flex-direction: row;
    width: 23.2vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.2px;
    border-color: rgb(212, 212, 212);
  
    margin-left: 1.5vw;
  }
  
  .card3{
    display: flex;
    flex-direction: row;
    width: 23.2vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.2px;
    border-color: rgb(212, 212, 212);
  
    margin-left: 2.3vw;
  }
  
  .card4{
    display: flex;
    flex-direction: row;
    width: 23.2vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.2px;
    border-color: rgb(212, 212, 212);
  
    margin-left: 1.5vw;
  }
  
  .circle1 {
    display: flex;
    align-items: center;
    width: 4.5em;
    height: 3.3em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 1.5vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle2 {
    display: flex;
    align-items: center;
    width: 4.5em;
    height: 3.3em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 1.5vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle3 {
    display: flex;
    align-items: center;
    width: 4.5em;
    height: 3.3em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 1.5vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle4 {
    display: flex;
    align-items: center;
    width: 4.5em;
    height: 3.3em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 1.5vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .icon {
    color: #fff;
    font-size: 0.8rem;
  }
  
  .infos-infos {
    margin-top: 2%;
    margin-left: 1vw;
    width: 70%;
    height: 11vw;
  }
  
  .title {
    font-size: 1rem;
    color:rgb(95, 95, 95);
    font-family: verdana, arial, helvetica;
  }
  
  .infos {
    font-size: 1em;
    font-weight: bold;
    margin-top: 1vw;
  }
  
  .info-content {
    margin-top: 0.9vw;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 1vw;
    width: 16vw;
    height: 2vw;
  }
  
  .text-footer {
    margin-left: 0.8vw;
    font-size: 0.9rem;
  }
  
  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
  }
  
  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
  }
  
  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
  }
}

@media (min-width: 1115px) and (max-width: 1200px) {
  #dados {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 7vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: row;
  }
  
  .card{
    display: flex;
    flex-direction: row;
    width: 23vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.2vw;
    border-color: rgb(212, 212, 212);
  }
  
  .card2{
    display: flex;
    flex-direction: row;
    width: 23vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.2vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 1.9vw;
  }
  
  .card3{
    display: flex;
    flex-direction: row;
    width: 23vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.2vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 2vw;
  }
  
  .card4{
    display: flex;
    flex-direction: row;
    width: 23vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.2vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 1.8vw;
  }
  
  .circle1 {
    display: flex;
    align-items: center;
    width: 4.3em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 0.5vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle2 {
    display: flex;
    align-items: center;
    width: 4.3em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 0.5vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle3 {
    display: flex;
    align-items: center;
    width: 4.3em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 0.5vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle4 {
    display: flex;
    align-items: center;
    width: 4.3em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 0.5vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .icon {
    color: #fff;
    font-size: 1rem;
  }
  
  .infos-infos {
    margin-top: 1%;
    margin-left: 1vw;
    width: 70%;
    height: 6.5vw;
  }
  
  .title {
    font-size: 1rem;
    color:rgb(95, 95, 95);
    font-family: verdana, arial, helvetica;
  }
  
  .infos {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.5vw;
  }
  
  .info-content {
    margin-top: 0.3vw;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 15vw;
    height: 2vw;
  }
  
  .text-footer {
    margin-left: 0.5vw;
    font-size: 0.9rem;
  }
  
  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 0.9rem;
  }
  
  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
  }
  
  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
  }
  
  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
  }
}

/*Meu notebook*/
@media (min-width: 1200px) and (max-width: 1440px) {
  #dados {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 6vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: row;
  }
  
  .card{
    display: flex;
    flex-direction: row;
    width: 22.8vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(212, 212, 212);
  }
  
  .card2{
    display: flex;
    flex-direction: row;
    width: 22.7vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 2vw;
  }
  
  .card3{
    display: flex;
    flex-direction: row;
    width: 22.7vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 2vw;
  }
  
  .card4{
    display: flex;
    flex-direction: row;
    width: 22.7vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 10px;
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 2vw;
  }
  
  .circle1 {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 0.8vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle2 {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 0.8vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle3 {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 0.8vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle4 {
    display: flex;
    align-items: center;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 0.8vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .icon {
    color: #fff;
    font-size: 1rem;
  }
  
  .infos-infos {
    margin-top: 1%;
    margin-left: 1vw;
    width: 70%;
    height: 6.5vw;
  }
  
  .title {
    font-size: 1rem;
    color:rgb(95, 95, 95);
    font-family: verdana, arial, helvetica;
  }
  
  .infos {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0.2vw;
  }
  
  .info-content {
    margin-top: 0vw;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 17vw;
    height: 2vw;
  }
  
  .text-footer {
    margin-left: 0.5vw;
    font-size: 1rem;
  }
  
  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
    font-size: 1.2rem;
  }
}
/**/
@media only screen and (min-width: 2560px) {
  #dados {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 7vw;
    margin-left: 1%;
  }
  
  .dados-card {
    display: flex;
    flex-direction: row;
  }
  
  .card{
    display: flex;
    flex-direction: row;
    width: 23.2vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 30px;
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(212, 212, 212);
  }
  
  .card2{
    display: flex;
    flex-direction: row;
    width: 23.2vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 30px;
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 1.5vw;
  }
  
  .card3{
    display: flex;
    flex-direction: row;
    width: 23.2vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 30px;
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 2.3vw;
  }
  
  .card4{
    display: flex;
    flex-direction: row;
    width: 23.2vw; 
    height: 100%; 
    background-color: white; 
    border-radius: 30px;
    border: solid;
    border-width: 0.1vw;
    border-color: rgb(212, 212, 212);
  
    margin-left: 1.5vw;
  }
  
  .circle1 {
    display: flex;
    align-items: center;
    width: 8.3em;
    height: 8em;
    border-radius: 50%;
    background-color: rgb(195, 0, 255);
    margin-top: 0.7vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle2 {
    display: flex;
    align-items: center;
    width: 8.3em;
    height: 8em;
    border-radius: 50%;
    background-color: rgb(35, 190, 48);
    margin-top: 0.7vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle3 {
    display: flex;
    align-items: center;
    width: 8.3em;
    height: 8em;
    border-radius: 50%;
    background-color: rgb(9, 214, 241);
    margin-top: 0.7vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .circle4 {
    display: flex;
    align-items: center;
    width: 8.3em;
    height: 8em;
    border-radius: 50%;
    background-color: rgb(241, 10, 203);
    margin-top: 0.7vw;
    margin-left: 0.8vw;
    justify-content: center
  }
  
  .icon {
    color: #fff;
    font-size: 2rem;
  }
  
  .infos-infos {
    margin-top: 2%;
    margin-left: 1vw;
    width: 70%;
    height: 6vw;
  }
  
  .title {
    font-size: 2.5rem;
    color:rgb(95, 95, 95);
    font-family: verdana, arial, helvetica;
  }
  
  .infos {
    font-size: 2.8em;
    font-weight: bold;
    margin-top: 1vw;
  }
  
  .info-content {
    margin-top: 0.2vw;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 15vw;
    height: 2vw;
  }
  
  .text-footer {
    margin-left: 0.5vw;
    font-size: 2rem;
  }
  
  .num-footer1 {
    color: rgb(133, 44, 160);
    font-weight: bold;
    font-size: 2.2rem;
  }
  
  .num-footer2 {
    color: rgb(38, 177, 49);
    font-weight: bold;
    font-size: 2.2rem;
  }
  
  .num-footer3 {
    color: rgb(37, 183, 202);
    font-weight: bold;
    font-size: 2.2rem;
  }
  
  .num-footer4 {
    color: rgb(199, 33, 171);
    font-weight: bold;
    font-size: 2.2rem;
  }
}
