#header {
  display: flex;
  float: left;
  width: auto;
  height: auto;
  margin: 1%;
}

.text-title {
  font-weight: bold;
  font-size: 2rem;
}

nav {
  flex-direction: row;
  height: 5vw;
  width: 12vw;
  margin: 1vw;
  float: right;
  align-items: center;
  font-size: 1rem;
}

.home {
  margin-left: 35%;
}

/*Responsividade*/

@media only screen and (max-width: 586px) {
  #header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: auto;
    margin: 1%;
  }
  
  .text-title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 7vw;
    width: 98vw;
    margin-top: 2rem;
    margin: 1vw;
    font-size: 0.8rem;
  }
  
  .home {
    margin-left: 5%;
  }
}

@media (min-width: 587px) and (max-width: 619px) {
  nav {
    width: 19vw;
    margin-right: 1rem;
  }
}

@media (min-width: 620px) and (max-width: 655px) {
  nav {
    width: 18vw;
  }
}

@media (min-width: 656px) and (max-width: 742px) {
  nav {
    width: 17vw;
  }
}

@media (min-width: 743px) and (max-width: 928px) {
  nav {
    width: 15vw;
  }

  #header {
    display: flex;
    float: left;
    width: auto;
    height: auto;
    margin: 1%;
  }
}

@media (min-width: 929px) and (max-width: 1114px) {
  header {
    display: flex;
    float: left;
    width: 20vw;
    height: 3vw;
    margin: 2%;
  }
  
  .text-title {
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 16vw;
    margin: 1vw;
    float: right;
    font-size: 1.1rem;
  }
  
  .home {
    margin-left: 35%;
  }
}

@media only screen and (min-width: 1440px) {
  header {
    display: flex;
    float: left;
    width: 20vw;
    height: 3vw;
    margin: 2%;
  }
  
  .text-title {
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 16vw;
    margin: 1vw;
    float: right;
    font-size: 1.3rem;
  }
  
  .home {
    margin-left: 35%;
  }
}

@media only screen and (min-width: 2545px) {
  #header {
    display: flex;
    float: left;
    width: 33vw;
    height: 3vw;
    margin: 2%;
  }
  
  .text-title {
    font-weight: bold;
    font-size: 3.8rem;
  }
  
  nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 12vw;
    margin: 2vw;
    float: right;
    font-size: 2.2rem;
  }
  
  .home {
    margin-left: 35%;
  }
}
