#right {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 1%;
  height: 40vw;
}

#left {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  margin-top: 1%;
  height: 40vw;
}

.container-card-vertical{
  display: flex; 
  flex-direction: row; 
  width: 100%; 
  height: 40vw;
}

.card-vertical{
  background-color: white;
  width: 22vw;
  height: 100.5%; 
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);
  overflow: auto;
  padding: 0.8vw;
  margin-left: 1vw
}

.card-vertical2{
  background-color: white;
  width: 22vw;
  height: 100.5%; 
  border-radius: 10px;
  border: solid;
  border-width: 0.5px;
  border-color: rgb(212, 212, 212);
  overflow: auto;
  padding: 0.8vw;
  margin-right: 2vw;
}

.table-vendas {
  height: 100%;
  width: 100%;
}

.lista {
  margin-top: 1vw;
}

@media (max-width: 600px) {
  #right {
    display: flex;
    flex-direction: row;
    margin-left: 9vw;
    margin-top: 0vh;
    height: 50vw;
    width: 83vw;
  }

  #left {
    display: flex;
    flex-direction: row;
    margin-left: 9vw;
    margin-top: 16vh;
    height: 50vw;
    width: 83vw;
  }

  .container-card-vertical{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 100%;
  }

  .card-vertical{
    background-color: white;
    width: 82vw;
    height: 50vw; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }

  .card-vertical2{
    background-color: white;
    width: 82vw;
    height: 50vw; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }

  .table-vendas {
    height: 100%;
    width: 100%;
  }
  
  .lista {
    margin-top: 1vw;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  #right {
    display: flex;
    flex-direction: row;
    margin-left: 9vw;
    margin-top: 0vh;
    height: 50vw;
    width: 83vw;
  }

  #left {
    display: flex;
    flex-direction: row;
    margin-left: 9vw;
    margin-top: 16vh;
    height: 50vw;
    width: 83vw;
  }

  .container-card-vertical{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 100%;
  }

  .card-vertical{
    background-color: white;
    width: 82vw;
    height: 50vw; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }

  .card-vertical2{
    background-color: white;
    width: 82vw;
    height: 50vw; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }

  .table-vendas {
    height: 100%;
    width: 100%;
  }
  
  .lista {
    margin-top: 1vw;
  }
}

@media (min-width: 768px) and (max-width: 928px) {
  #right {
    display: flex;
    flex-direction: row;
    margin-left: 9vw;
    margin-top: 0vh;
    height: 50vw;
    width: 83vw;
  }

  #left {
    display: flex;
    flex-direction: row;
    margin-left: 8vw;
    margin-top: 18vh;
    height: 50vw;
    width: 83vw;
  }

  .container-card-vertical{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 100%;
  }

  .card-vertical{
    background-color: white;
    width: 82vw;
    height: 50vw; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }

  .card-vertical2{
    background-color: white;
    width: 82vw;
    height: 50vw; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }

  .table-vendas {
    height: 100%;
    width: 100%;
  }
  
  .lista {
    margin-top: 1vw;
  }
}

@media (min-width: 929px) and (max-width: 1114px) {
  #right {
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
    margin-top: 0vh;
    height: 35vw;
    width: 83vw;
  }

  #left {
    display: flex;
    flex-direction: row;
    margin-left: 8.3vw;
    margin-top: 2vh;
    height: 35vw;
    width: 83vw;
  }

  .container-card-vertical{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 100%;
  }

  .card-vertical{
    background-color: white;
    width: 82vw;
    height: 35vw; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }

  .card-vertical2{
    background-color: white;
    width: 82vw;
    height: 35vw; 
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }

  .table-vendas {
    height: 100%;
    width: 100%;
  }
  
  .lista {
    margin-top: 1vw;
  }
  
}

@media (min-width: 1115px) and (max-width: 1200px) {
  #right {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    margin-top: 16vh;
    height: 46vw;
    width: 32vw
  }

  #left {
    display: flex;
    flex-direction: row;
    margin-left: 3vw;
    margin-top: 16vh;
    height: 46vw;
    width: 32vw
  }
  
  .container-card-vertical{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 40vw;
  }
  
  .card-vertical{
    background-color: white;
    width: 25vw;
    height: 46vw;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }
  
  .card-vertical2{
    background-color: white;
    width: 25vw;
    height: 46vw;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }
  
  .table-vendas {
    height: 100%;
    width: 100%;
  }
  
  .lista {
    margin-top: 1vw;
  }
  
}

@media (min-width: 1201px) and (max-width: 1440px) {
  #right {
    display: flex;
    flex-direction: row;
    margin-left: 0vw;
    margin-top: 2vh;
    height: 55vw;
    width: 31.5vw
  }

  #left {
    display: flex;
    flex-direction: row;
    margin-left: 0vw;
    margin-top: 2vh;
    height: 55vw;
    width: 31.5vw
  }
  
  .container-card-vertical{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 40vw;
  }
  
  .card-vertical{
    background-color: white;
    width: 29vw;
    height: 55vw;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw;
    margin-left: 2vw
  }
  
  .card-vertical2{
    background-color: white;
    width: 29vw;
    height: 55vw;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw;
    margin-left: 1.5vw;
  }
  
  .table-vendas {
    height: 100%;
    width: 100%;
  }
  
  .lista {
    margin-top: 1vw;
  }
}

@media (min-width: 1441px) {
  #right {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    margin-top: 2vh;
    height: 47vw;
    width: 32vw
  }

  #left {
    display: flex;
    flex-direction: row;
    margin-left: 1vw;
    margin-top: 2vh;
    height: 47vw;
    width: 32vw
  }
  
  .container-card-vertical{
    display: flex; 
    flex-direction: row; 
    width: 100%; 
    height: 40vw;
  }
  
  .card-vertical{
    background-color: white;
    width: 28vw;
    height: 47vw;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw
  }
  
  .card-vertical2{
    background-color: white;
    width: 28vw;
    height: 47vw;
    border-radius: 10px;
    border: solid;
    border-width: 0.5px;
    border-color: rgb(212, 212, 212);
    overflow: auto;
    padding: 0.8vw;
    margin-left: 0.5vw;
  }
  
  .table-vendas {
    height: 100%;
    width: 100%;
  }
  
  .lista {
    margin-top: 1vw;
  }
}
